@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Mina:wght@400;700&display=swap');

:root   {
    --cinza:#D0D7E1;
    --claro:#9CCDDB;
    --medio:  #5790AB;
    --escuro: #064469;
    --escuroforte: #072D44;
}

*   {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 

.principal   {
    background-color: var(--cinza);
    font-family: 'Mina', cursive;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.topper {
    height: 124px;
    flex: 1;
}

.filafacil {
    background-color: var(--escuroforte);
    color: white;
    height: 88px;
    font-size: 60px; 
}
    
.navegador {
    background-color: var(--escuro);
    color: white;
    height: 36px;
    font-size: 20px;
}

.content    {
    height: 70%;
}

p   {
    font-weight: bold;
    text-align: center; 
}

.largurabtn {
    width: 261px;
    height: 60px;
    background-color: var(--escuroforte);
}

.textobtn   {
    font-size: 30px; 
    font-weight: bold; 
    border-radius: 10px
}

.btnhome    {
    background-color: var(--escuro);
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 0px;    
}

.active-btn {
    color: var(--claro);
}

.footer {
    background-color: var(--escuro);
    height: auto;
}

.largfoot   {
    max-width: 250px;
}

.btn-menu {
    margin: 0 10px;
}

