#dynamic-content {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 60vh;
  max-width: 500px;
  border-radius: 2rem;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}
#dynamic-content h1 {
  color: red;
}
