/*== FOOTER --*/
#dynamic-content {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 1rem 0.5rem;
  background-color: var(--background);
}
.footer_navbar {
  position: fixed;
  bottom: 0;
  width: 100%;
}
.footer_navbar .list_navbar {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 2rem;
}

.footer_navbar ul li a {
  position: relative;
  color: var(--letraLogo);
  font-size: 1.5rem;
  font-weight: 600;
  text-decoration: none;
}
/* == FOOTER ANIMATION ==*/
.footer_navbar ul li a::before {
  content: "";
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 0;
  height: 3px;
  background-color: var(--opion5);
  transition: width 0.3s ease;
}
.footer_navbar ul li a:hover::before {
  width: 100%;
}
